.checked {
  color: orange;
}
.score {
  color: #81858b;
  position: relative;
  padding-left: 18px;
  margin-left: 5;
  align-items: center;
}
.scoreNumber {
  margin: 0 5px;
}
.total {
  margin-left: 2px;
  color: #c0c2c5;
  font-size: 10px;
  font-size: 0.714rem;
  line-height: 2.2;
}
